@font-face {
  font-family: FuturaPTBook;
  src: url(fonts/FuturaPTBook.otf);
}

body {
  background-color: #191b44 !important;
  font-family: 'FuturaPTBook' !important;
}

.mainContainer {
  padding-bottom: 20px;
}

.block {
  height: 300px;
  box-shadow: -1px 1px 71px 1px black;
  margin-top: 20px;
}

.largeBlock {
  height: 620px !important;
  border-bottom-right-radius: 20px;
  background-color: #e2939a;
  padding-top: 10px;
}

.link {
  color: Black;
}

.link:hover {
  color: #64b3df;
  cursor: pointer;
  text-decoration: none;
}

.nav-item a {
  color: white;
}

.nav {
  margin-right: -5px;
}

.nav-item {
  float: right;
  color: #fff;
}

.nav-item a:hover {
  background-color: #64b3df;
  cursor: pointer;
  color: white;
}

.firstBlock {
  background-color: #fff;
  margin-right: 20px;
  border-top-left-radius: 20px;
  text-align: center;
  padding-top: 10px;
  font-size: 200px;
  color: #1b1b48;
}

.firstBlock object {
  max-height: 280px;
}

.secondBlock {
  color: #fff;
  font-size: 20px;
  background-color: #313163;
  border-top-right-radius: 20px;
  padding: 40px !important;
  font-size: 24px;
}

.secondBlock p {
  font-size: 15px;
  margin-top: 30px;
  color: #b3b4d0;
}

.gradientBlock {
  text-align: center;
  color: #1b1b48;
  font-size: 115px;
  background: linear-gradient(to right, #f11986, orange);
  padding-top: 70px;
  margin-right: 20px;
}

.gradientBlock a {
  color: #1b1b48;
}

.gradientBlock a:hover {
  color: #1b1b48;
  cursor: pointer;
}

.cardGradient {
  background: linear-gradient(to right, #f11986, orange);
  border: 0px !important;
  height: 374px;
  font-size: 1.6vh;
  z-index: 200;
}

.card h4 {
  font-size: 1.8vh !important;
}

.card img {
  height: 20%;
}

.blueBlock {
  text-align: center;
  background-color: #50b09b;
  padding-top: 120px;
  font-size: 35px;
}

.blueBlock span {
  margin-right: -8px;
}

.purpleBlock {
  background-color: #323164;
  text-align: center;
  font-size: 32px;
  padding: 140px 40px !important;
  margin-right: 20px;
}

.purpleBlock a {
  color: #fff;
}

.mintBlock {
  background-color: #7eca84;
  padding-top: 15px;
}

.mintBlock img {
  height: 100%;
}

.twoColumn {
  padding: 0px !important;
  margin-left: 0px;
  margin-right: 20px;
}

.contactsBlock {
  padding: 0px !important;
}

.phone {
  font-size: 80px;
  text-align: center;
  padding-top: 80px;
  background-color: #4f3d89;
  border-bottom-left-radius: 20px;
}

.phone h5 {
  margin-top: -20px;
}

.phone a {
  color: #81c18c;
}

.contactsItem {
  height: 75px;
  box-shadow: 0px 10px 60px 0px black;
  font-size: 42px;
  padding-top: 8px;
  text-align: center;
}

.contactsItem img {
  vertical-align: baseline;
}

.link div {
  transition: height 0.2s linear;
}

.link:hover div {
  height: 80px;
}

.first {
  background-color: #fff;
}

.git {
  color: #fff;
}

.second {
  background-color: #e18f79;
}

.fb {
  color: #e18f79;
}

.third {
  background-color: #4eb19e;
}

.google {
  color: #4eb19e;
}

.fourth {
  background-color: #292c5b;
}

.call {
  color: #292c5b;
}

canvas {
  max-height: 590px;
  max-width: 590px;
}

.transition-rotate {
  position: relative;
  z-index: 2;
  text-align: center;
  transition: 0.3s linear;
}

.transition-rotate:hover {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color: #95CD8B;
  -webkit-transform: rotate(4deg);
  transform: rotate(4deg);
  color: #95CD8B;
  cursor: pointer;
}

.transition-rotate span {
  position: absolute;
  top: 15px;
  left: 55px;
  width: 104px;
  opacity: 0;
  transition: opacity 0.2s linear, margin 0.2s linear;
  font-size: 1.7vh;
}

.transition-rotate:hover span {
  opacity: 1;
}