@font-face {
	font-family: FuturaPTBook;
	src: url(fonts/FuturaPTBook.otf);
}

@-webkit-keyframes move {
	0% {
		left: 0;
	}
	50% {
		left: 100%;
		-webkit-transform: rotate(450deg);
		width: 150px;
		height: 150px;
	}
	75% {
		left: 100%;
		-webkit-transform: rotate(450deg);
		width: 150px;
		height: 150px;
	}

	100% {
		right: 100%;
	}
}

@media (max-width: 1199px) {
	.educationList {
		justify-content: center;
	}

	.noMargin {
		margin-right: 0 !important;
	}

	.noBorderRadius {
		border-radius: 0 !important;
	}
}

.loaderArea {
	/* background: linear-gradient(90deg, #FF4E50 10%, #F9D423 90%); */
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 100000;
	background: #191b44;
	width: 100%;
}

.circle {
	margin-top: 350px;
	position: absolute;
	top: -30px;
	margin-left: -30px;
	height: 60px;
	width: 60px;
	left: 0;
	background: #fff;
	border-radius: 30%;
	-webkit-animation: move 5s infinite;
}

body {
	background-color: #191b44 !important;
	font-family: 'FuturaPTBook' !important;
}

.mainContainer {
	padding-bottom: 20px;
}

.block {
	height: 300px;
	box-shadow: -1px 1px 71px 1px black;
	margin-top: 20px;
}

.largeBlock {
	height: 620px;
	border-bottom-right-radius: 20px;
	background-color: #e2939a;
	padding-top: 10px;
}

.link {
	color: Black;
}

.link:hover {
	color: #64b3df;
	cursor: pointer;
	text-decoration: none;
}

.nav-item a {
	color: #fff !important;
}

.nav {
	margin-right: -5px;
}

.nav-item {
	float: right;
	color: #fff;
}

.nav-item a:hover {
	background-color: #64b3df;
	cursor: pointer;
	color: white;
}

.firstBlock {
	background-color: #fff;
	margin-right: 20px;
	border-top-left-radius: 20px;
	text-align: center;
	padding-top: 10px;
	font-size: 200px;
	color: #1b1b48;
}

.firstBlock object {
	max-height: 280px;
}

.secondBlock {
	color: #fff;
	font-size: 20px;
	background-color: #313163;
	border-top-right-radius: 20px;
	padding: 40px !important;
	font-size: 3vh;
}

.secondBlock p {
	font-size: 2.1vh;
	margin-top: 30px;
	color: #b3b4d0;
}

.gradientBlock {
	text-align: center;
	color: #1b1b48;
	background: linear-gradient(to right, #f11986, orange);
	padding-top: 80px;
	margin-right: 20px;
}

.gradientBlock a {
	color: #1b1b48;
}

.gradientBlock a:hover {
	color: #1b1b48;
	cursor: pointer;
}

.cardGradient {
	background: linear-gradient(to right, #f11986, orange);
	border: 0px !important;
	height: 390px;
	font-size: 1.9vh;
	z-index: 1;
}

.card h4 {
	font-size: 1.8vh !important;
}

.card-body {
	padding: 0.85rem !important;
}

.eduImg {
	height: 100px;
}

.blueBlock {
	text-align: center;
	background-color: #50b09b;
	padding-top: 120px;
	font-size: 35px;
}

.blueBlock span {
	margin-right: -8px;
}

.purpleBlock {
	background-color: #323164;
	text-align: center;
	font-size: 3.6vh;
	padding: 140px 40px;
	margin-right: 20px;
}

.purpleBlock a {
	color: #fff;
}

.mintBlock {
	padding-top: 7px;
	background-color: #7eca84;
}

.mintBlock img {
	margin-top: -30px;
}

.twoColumn {
	padding: 0 !important;
	margin-left: 0;
	margin-right: 20px;
}

.contactsBlock {
	padding: 0 !important;
}

.phone {
	font-size: 80px;
	text-align: center;
	padding-top: 80px;
	background-color: #4f3d89;
	border-bottom-left-radius: 20px;
}

.phone img {
	width: 30%;
}

.phone a {
	color: black;
!important;
}

.phone a:hover {
	color: #fff;
!important;
}

.contactsItem {
	height: 75px;
	box-shadow: 0px 10px 60px 0px black;
	font-size: 42px;
	padding-top: 8px;
	text-align: center;
}

.contactsItem img {
	vertical-align: baseline;
}

.link div {
	transition: height 0.2s linear;
}

.link:hover div {
	height: 80px;
}

.first {
	background-color: #fff;
}

.git {
	color: #fff;
}

.second {
	background-color: #e18f79;
}

.fb {
	color: #e18f79;
}

.third {
	background-color: #4eb19e;
}

.google {
	color: #4eb19e;
}

.fourth {
	background-color: #292c5b;
}

.call {
	color: white;
}

canvas {
	max-height: 590px;
	max-width: 590px;
}

.transition-rotate {
	position: relative;
	z-index: 2;
	text-align: center;
	transition: 0.3s linear;
}

.transition-rotate:hover {
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
	color: white;
	-webkit-transform: rotate(4deg);
	transform: rotate(4deg);
	color: white;
	cursor: pointer;
}

.transition-rotate span {
	position: absolute;
	top: 15px;
	left: 55px;
	width: 104px;
	opacity: 0;
	transition: opacity 0.2s linear, margin 0.2s linear;
	font-size: 1.8vh;
	z-index: 1000;
}

.transition-rotate:hover span {
	opacity: 1;
}